@charset "utf-8";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,input,select,textarea,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video,em{	
	padding:0px;
	margin:0px;
	vertical-align:top;
	display:block;
	font-family:"微软雅黑";
	
}
html, body {width:100%;height:100%;-webkit-text-size-adjust:none;}
body{min-width:300px;}
ul, ol {list-style-type:none}
h1,h2,h3,h4,h5,h6{font-weight:normal}
table{border-collapse:collapse;border-spacing:0}
img,fieldset{border:0;outline:none}
label {cursor:pointer}
i, em, address {font-style:normal}
caption,legend{visibility:hidden;width:0px;height:0px;font-size:0px;line-height:0px}
iframe,object,video,embed{position:relative;top:0;left:0;max-width:100%}

a {text-decoration:none;color:#888;cursor:pointer;}
a:link, a:visited {text-decoration:none;color:#888;}
a:hover, a:focus, a:active{background:none;text-decoration:none;}