@charset "utf-8";
/* CSS Document */
body{
	background:#FFF;
}
#top{
	position:relative;
	width:auto;
	height:100px;
	background-color:#2a323d;
}
#top .logo{
	position:absolute;
	width:80px;
	height:80px;
	left:155px;
	top:10px;
	}
.logo img{
	max-width:80px;
	max-height:80px;
	width:expresstion(this.width > 80 ? 80: true);
	height:expresstion(this.height> 80 ? 80: true);
}
#left{
	position:absolute;
	width:250px;
	min-height:595px;
	height:auto !important;
	display:inline-block;
	background:#DDD;
	float:left;
}
#right{
	position:absolute;
	left:250px;
	min-width:990px;
	min-height:595px;
	height:auto !important;
	background:#FFF;
	float:left;
}
#left ul{
	padding-top:10px;
	font-size:18px;
}
#left li{
	margin:15px 0; 
	padding:10px 0 8px 70px;
	cursor:pointer;
}
li img{
	max-width:25px;
	max-height:20px;
	width:expresstion(this.width > 25 ? 25: true);
	height:expresstion(this.height> 20 ? 20: true);
	display:inline;
}

