@charset "utf-8";

#top{
	position:relative;
	width:100%;
	height:60px;
	border-bottom:#999 solid 2px;
}
#top .logo{
	background:url(../img/logo.png);
	width:60px;
	height:60px;
	position:absolute;
	left:380px;
	}
#top span{
	position:absolute;
	top:18px;
	left:450px;
	color:#666;
	font-size:18px;
	font-family:"微软雅黑";
	display:inline;
}
#top input{
	border:#999 solid 1px;
	border-radius:5px;
	width:200px;
	height:26px;
	color:#000;
	font-size:14px;
	font-family:"微软雅黑";
	display:inline;
	vertical-align:middle;
}
#left{
	position:absolute;
	border-right:#999 solid 2px;
	width:280px;
	width-min:280px;
	height:510px;
	overflow-x:hidden;
	overflow-y:auto;
}
#right{}
#copy-buttom{
	position:absolute;
	width:100%;
	height:40px;
	bottom:0px;
	border-top:#999 solid 2px;
}